### IntelliJ IDEA ###
out/
.idea/
!**/src/main/**/out/
!**/src/test/**/out/
compile.iml
20374319_蒋康.zip
*.log
*.txt

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store